/*Utilizando variaveis para boa manutenção*/

:root {
    --brand: #20AD96;
    --brandDark: #028176;
    --brandLight: #F3FFFD;
    --title: #333333;
    --text: #666666;
    --rounded: 10px;
}

/* Representa todos os elementos*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /*Navegação em ancora seja suave*/
}

#quemsomos,#contato,#servicos {
    scroll-margin-top: 150px;
}

p {
    margin-top: 24px;
    margin-bottom: 24px;
    color: var(--text);
    line-height: 150%;
}

h2 {
    font-size: 40px;
    color: var(--title);
    line-height: 100%;
}

img {
    display: block;
}



body {
    font-family: "Poppins", sans-serif;
}

.header{
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

/* Toda div por padrão ocupa toda a largura disponivel */


/* Container que ta dentro do header apenas*/
.header .container {
    padding-top: 30px;
    padding-bottom: 30px;
    /*Flexbox -> Conjunto de propriedades para organizar o layot*/
    display: flex;
    /*Habilito o uso dessas propriedades*/
    justify-content: space-between;
    /*Distribui o espaço vazio entre os filhos*/
    align-items: center;
    /*Alinhamento vertical*/

}

.container {

    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.menu a {
    color: var(--title);
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.menu a:hover {
    color: var(--brandDark);
    text-decoration: underline;
}

/* ##########     UTILITARIOS     ############ */
.btn {
    background-color: var(--brand);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: var(--rounded);
    padding: 12px 20px;
    transition: 0.5s;

}

.btn:hover {
    background-color: var(--brandDark);
}

.btn-outline {
    border: solid 2px #FFFFFF;
    background-color: transparent;
}

/* -------------------------------------------- */

.banner {
    width: 100%;
    height: 620px;
    background-image: url(../img/background.webp);
    background-size: cover;
    background-position: center center;
    /*Y, X*/

    display: flex;
    align-items: center;
}

.conteudo-banner {
    width: 560px;
}

.conteudo-banner h1 {
    color: #FFFFFF;
    font-size: 60px;
    line-height: 100%;
}

.conteudo-banner p {
    color: #FFFFFF;
}

.subtitulo {
    font-size: 20px;
}

.apresentacao {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    column-gap: 24px;
}

.imagem-apresentacao img {
    border-radius: var(--rounded);
}

.servicos {
    text-align: center;
}

.titulo-servicos {
    width: 752px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-servicos p {
    margin-top: 12px;
    margin-bottom: 31px;
}

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 364px;
    height: 200px;
    padding: 24px;

    /*Padding e border nao interfiram na dimensão*/
    box-sizing: border-box;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--rounded);
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.5s;
}

.card:hover {
    background-color: var(--brand);
    transform: translateY(-15px);
    cursor: pointer;
}

.card:hover h3,
.card:hover p {
    color: #FFFFFF;
}

.card h3 {
    color: var(--brand);
    font-size: 24px;
}

.card p {
    font-size: 14px;
    margin-bottom: 0;
}

.agende {
    background-image: linear-gradient(to right, var(--brandDark), var(--brand));
    margin-top: 100px;
    margin-bottom: 100px;
}

.agende .container {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.conteudo-agende {
    width: 850px;
}

.conteudo-agende h2,
.conteudo-agende p {
    color: #FFFFFF;

}

.imagem-agende {
    /*posição em relação ao elemento pai*/
    position: absolute;
    right: 0;
    bottom: 0;
}

.depoimentos {
    text-align: center;
    margin-bottom: 100px;
}

.depoimentos p {
    font-size: 20px;
    font-style: italic
}

.depoimentos span {
    color: var(--brand);
    font-weight: 600;
}

.contato {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.contato h3 {
    margin-top: 24px;
    color: var(--brand);
    font-size: 24px;
}

.contato ul {
    color: var(--text);
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 10px;
}

.contato p {
    margin-top: 10px;
}

.footer {
    background-image: linear-gradient(to right, var(--brandDark), var(--brand));
    margin-top: 100px;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.conteudo-footer p{
    color: #FFFFFF;
    margin: 0;
}

.social {
    display: flex;
    column-gap: 20px;
}

/*
Media Queries
Condicionais para alterar o site para determinados tamanhos (responsividade)
*/

@media (max-width: 1200px) {

    h2 {
        font-size: 28px;
    }

    .container {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
    }
    
    /* removendo botão e o menu*/
    .header .btn {
        display: none;
    }

    .menu {
        display: none;
    }

    .bar {
        width: 40px;
        height: 3px;
        background-color: var(--brand);
        margin-bottom: 3px;
    }

    .banner {
        background-position: center;
    }

    .conteudo-banner{
        width: 100%;
        max-width: 560px;;
    }

    .conteudo-banner h1{
        font-size: 36px;
    }

    .subtitulo {
        font-size: 16px;;
    }

    .imagem-apresentacao img {
        max-width: 100%; /*imagem responsiva*/
    }

    .apresentacao {
        flex-direction: column;
        row-gap: 36px;
    }

    .conteudo-apresentacao{
        max-width: 558px;
    }

    .titulo-servicos {
        width: 100%;
        max-width: 752px;
    }

    .flex-cards {
        justify-content: center;
    }

    .card h3 {
        font-size: 20px;
    }

    .conteudo-agende {
        width: calc(100% - 270px);
        max-width: 850px;
    }

    .contato {
        flex-direction: column;
        row-gap: 36px;
    }

    .mapa, .mapa iframe {
        width: 100%;
    }

    .footer .container {
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }
    
    
}

@media (max-width: 767px) {

    .banner {
        background-position: -600px;
    }

    .imagem-agende {
        display: none;
    }

    .conteudo-agende{
        width: 100%;

    }
}
